### 獲取財報資訊

這個單元將教您如何獲取財報
首先我們要先看一下財報的網址：
http://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2017&SSEASON=3&REPORT_ID=C
在這一串網址中，有幾個重要的元素：

* step: 1 （不知道做啥用的）
* CO_ID: 1101 （股票代號）
* SYEAR: 2017 （年）
* SSEASON: 3 （季）
* REPORT_ID：個別財報(A)  個體財報(B)  合併報表(C)

這邊的report ID，我們必須要以合併報表優先（90%以上的財報都是合併財報），假如沒有合併報表，我們在抓個體財報喔！

In [1]:
# 將網站給爬下來
import requests
res = requests.get('http://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=1101&SYEAR=2017&SSEASON=3&REPORT_ID=C')
res.encoding = 'big5' # 也可以試試看 'utf-8' 試到 res.text 沒有中文亂碼就可以囉！

In [2]:
from io import StringIO
import pandas as pd

# 將 res.text 用 StringIO 轉成 檔案 再用 pd.read_html 將 html文字檔轉成 dataframe
dfs = pd.read_html(StringIO(res.text))

In [3]:
dfs[1].head()

         0            1            2            3
0     會計項目  2017年09月30日  2016年12月31日  2016年09月30日
1    資產負債表          NaN          NaN          NaN
2       資產          NaN          NaN          NaN
3     流動資產          NaN          NaN          NaN
4  現金及約當現金          NaN          NaN          NaN

In [4]:
#for sid in ['1101', '2330']:
import time
import os

# 假如沒有 course9 這個資料夾
if 'course9' not in os.listdir():
    
    # 就創建一個
    os.mkdir('course9')

# 想要爬的股票代號
sid = ['1101', '2330']

# 對於每一筆股票代號
for s in sid:
    
    # 爬取它的html檔
    res = requests.get('http://mops.twse.com.tw/server-java/t164sb01?step=1&CO_ID=' + s + '&SYEAR=2017&SSEASON=3&REPORT_ID=C')
    res.encoding = 'big5'
    
    # 設定存檔的路徑 ex: course9\1101.html
    path = os.path.join('course9', s + '.html')
    
    # 將檔案打開，寫入html，然後關閉
    f = open(path, 'w', encoding='utf-8')
    f.write(res.text)
    f.close()
    
    print(s)
    
    # 休息20秒，在跑下一支股票
    time.sleep(20)

1101
2330

In [6]:
dfs = []

# 對於每一支股票
for s in sid:
    
    # 將檔案 ex: course9\1101.html 拿出來
    path = os.path.join('course9', s + '.html')
    
    # 存在 dfs 中
    dfs.append(pd.read_html(path, encoding='utf-8'))

In [10]:
dfs[1].head(10)

                       0            1            2            3
0                   會計項目  2017年09月30日  2016年12月31日  2016年09月30日
1                  資產負債表          NaN          NaN          NaN
2                     資產          NaN          NaN          NaN
3                   流動資產          NaN          NaN          NaN
4                現金及約當現金          NaN          NaN          NaN
5              現金及約當現金合計     26608300     28179758     27229371
6    透過損益按公允價值衡量之金融資產－流動          NaN          NaN          NaN
7  透過損益按公允價值衡量之金融資產－流動合計       147571       148488       162966
8            備供出售金融資產－流動          NaN          NaN          NaN
9          備供出售金融資產－流動淨額     20061583     15536693     15375305